
.DS_Store
trial73_Hiplex_tag_1.fq
trial73_Hiplex_tag_10.fq
trial73_Hiplex_tag_11.fq
trial73_Hiplex_tag_12.fq
trial73_Hiplex_tag_13.fq
trial73_Hiplex_tag_14.fq
trial73_Hiplex_tag_15.fq
trial73_Hiplex_tag_16.fq
trial73_Hiplex_tag_17.fq
trial73_Hiplex_tag_18.fq
trial73_Hiplex_tag_20.fq
trial73_Hiplex_tag_21.fq
trial73_Hiplex_tag_22.fq
trial73_Hiplex_tag_23.fq
trial73_Hiplex_tag_4.fq
trial73_Hiplex_tag_5.fq
trial73_Hiplex_tag_6.fq
trial73_Hiplex_tag_7.fq
trial73_Hiplex_tag_8.fq
trial73_Hiplex_tag_9.fq
trial73_gsp_counts.txt
trial73_logfile.txt
trial73_reads_per_gsp_per_tag.txt
trial73_stats.txt
